# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\自动化代码\dockerFlaskRun\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
